h1 {
  font-size: 150px;
  text-align: center;
   background: -webkit-linear-gradient(#ff4d4d
  , #ffb366, #3366ff,#4dd2ff,#66ff99, #a64dff, #ffff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Princess Sofia', cursive;
  color: background: -webkit-linear-gradient(left top, red, yellow);
}

#pixelPainter {
  width: 700px;
  margin: auto;
}

.painterCanvas {
  display: inline-block;
  margin-top: 20px;

}

.canvasCell {
  border: 1px solid black;
  height: 20px;
  width: 20px;
  display: inline-block;
}

.painterPalette {
  margin-top: 25px;
  margin-left: 50px;
  float: left;
  position: absolute;
  display: inline-block;
}

.paletteCell {
  height: 40px;
  width: 40px;
  display: inline-block;

}

.buttonDiv {
  width: 200px;
  margin: auto;
  display: inline-block;
}

.buttons {
  font-size: 25px;
  font-family: 'Princess Sofia', cursive;
  margin: auto;
  width: 150px;
  display: block;
  margin-top: 20px;
  padding: 5px;
}

/*#clearButton {
  margin-top: 25px
}
*/



