.painterCanvas {
  width: 500px;
  display: inline-block;
}

.colorPalette {
  width: 250px;
  float: left;
  position: absolute;
  display: inline-block;
}

.pixelCell {
  color: black;
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 1px solid black;
}

.colorCell{
  height: 40px;
  width: 40px;
  border: 1px solid black;
  display: inline-block;
}

#buttonBody {
  margin-top: 5px;
  display: inline-block;
  text-align: center;
}
